$colors: (
    common: (
        white: #fff,
        black: #222222,
        black-soft: #0D0D0D,
        black-deep: #000000,
    ),
    body: (
        heading: #222222,
        text-white: #ffffff,
        text: #7A7A7A,
    ),
    color: (
        blue: #000A30,
    ),
    hover: (
        primary: #FF7425,
    ),
    theme: (
        primary: #FF7425,
    ),
    bg: (
        primary: #FF7425,
        white: #ffffff,
        gray: #171717,
    )
)